{% extends 'store/__base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form">
                <div id="user-info">
                    <div class="form-field">
                        <input name="name" type="text" class="form-control" placeholder="Name...">
                    </div>
                    <div class="form-field">
                        <input name="email" type="email" class="form-control" placeholder="Email...">
                    </div>
                </div>
                <div id="shipping-info">
                    <hr>
                    <p>Shipping Information:</p>
                    <hr>
                    <div class="form-field">
                        <input name="address" type="address" class="form-control" placeholder="Address...">
                    </div>
                    <div class="form-field">
                        <input name="city" type="text" class="form-control" placeholder="City...">
                    </div>
                    <div class="form-field">
                        <input name="state" type="text" class="form-control" placeholder="State...">
                    </div>
                    <div class="form-field">
                        <input name="zipcode" type="text" class="form-control" placeholder="Zip Code...">
                    </div>
                </div>
                <hr>
                <input type="submit" id="form-button" class="btn btn-success btn-block" value="Continue">
            </form>
        </div>
        <br>
        <div class="box-element hidden" id="payment-info">
            <small>Paypal Options</small>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="box-element">
            <a href="{% url 'cart' %}" class="btn btn-outline-dark">&#x2190; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img src="{{item.product.imageURL}}" class="row-image"></div>
                <div style="flex:3">{{item.product.name}}</div>
                <div style="flex:1">${{item.product.price}}</div>
                <div style="flex:1">{{item.quantity}}</div>
            </div>
            {% endfor %}
            <h5>Items:  {{order.get_cart_quantity}}</h5>
            <h5>Total:  ${{order.get_cart_total|floatformat:2}}</h5>
        </div>
    </div>
</div>
{% endblock content %}