{% extends 'store/__base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form">
                <div id="user-info">
                    <div class="form-field">
                        <input name="name" type="text" class="form-control" placeholder="Name...">
                    </div>
                    <div class="form-field">
                        <input name="email" type="email" class="form-control" placeholder="Email...">
                    </div>
                </div>
                <div id="shipping-info">
                    <hr>
                    <p>Shipping Information:</p>
                    <hr>
                    <div class="form-field">
                        <input name="address" type="address" class="form-control" placeholder="Address...">
                    </div>
                    <div class="form-field">
                        <input name="city" type="text" class="form-control" placeholder="City...">
                    </div>
                    <div class="form-field">
                        <input name="state" type="text" class="form-control" placeholder="State...">
                    </div>
                    <div class="form-field">
                        <input name="zipcode" type="text" class="form-control" placeholder="Zip Code...">
                    </div>
                </div>
                <hr>
                <input type="submit" id="form-button" class="btn btn-success btn-block" value="Continue">
            </form>
        </div>
        <br>
        <div class="box-element hidden" id="payment-info">
            <small>Paypal Options</small>
            <div id="paypal-button-container"></div>
            <!-- <button id="make-payment">Make payment</button> -->
        </div>
    </div>
    <div class="col-lg-6">
        <div class="box-element">
            <a href="{% url 'cart' %}" class="btn btn-outline-dark">&#x2190; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img src="{{item.product.imageURL}}" class="row-image"></div>
                <div style="flex:3">{{item.product.name}}</div>
                <div style="flex:1">${{item.product.price}}</div>
                <div style="flex:1">{{item.quantity}}</div>
            </div>
            {% endfor %}
            <h5>Items: {{order.get_cart_quantity}}</h5>
            <h5>Total: ${{order.get_cart_total|floatformat:2}}</h5>
        </div>
    </div>
</div>
<script src="https://www.paypal.com/sdk/js?client-id=AQ5CobaxsaISWOkTrDqqWH1kb7YfooJ1mJ30q8YZCLwulEob4YDKRKRxsqZFRKRQJBKbKRMF68Oqq7Vo&currency=USD&disable-funding=credit"></script>

<script>

    
    const total = "{{order.get_cart_total}}";
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        style: {
            color:'blue',
            shape:'pill'
        },

        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: parseFloat(total).toFixed(2)
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                // Show a success message to the buyer
                handlePaymentSubmit();
            });
        }


    }).render('#paypal-button-container');
</script>

<script type="text/javascript">


    const shipping = '{{order.shipping}}';
    const form = document.querySelector('#form');
    // const paymentBtn = document.querySelector('#make-payment');

    const isAnonymous = user == 'AnonymousUser' ? true : false;

    if (shipping == 'False') {
        document.querySelector('#shipping-info').innerHTML = '';
    }

    if (!isAnonymous) {
        document.querySelector('#user-info').innerHTML = '';
    }

    if (shipping == 'False' && !isAnonymous) {
        // Hide entire form if user is logged in and shipping is false
        document.querySelector("#form-wrapper").classList.add('hidden');
        document.querySelector('#payment-info').classList.remove('hidden');
    }


    function handleContinueSubmit(e) {
        e.preventDefault();
        document.querySelector('#form-button').classList.add('hidden');
        document.querySelector('#payment-info').classList.remove('hidden');
    }

    function handlePaymentSubmit() {
        const userFormData = {
            'name': null,
            'email': null,
            'total': total
        }

        const shippingInfo = {
            'address': null,
            'city': null,
            'state': null,
            'zipcode': null
        }

        if (shipping != 'False') {
            shippingInfo.address = form.address.value;
            shippingInfo.city = form.city.value;
            shippingInfo.state = form.state.value;
            shippingInfo.zipcode = form.zipcode.value;
        }

        if (isAnonymous) {
            userFormData.name = form.name.value;
            userFormData.email = form.email.value;
        }

        const url = '/process_order/'
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({ 'userFormData': userFormData, 'shippingInfo': shippingInfo })
        })
            .then((response) => {
                return response.json();
            })
            .then((data) => {
                cart = {};
                updateCartCookie(cart);
                window.location.href = "{% url 'store' %}";
            })
    }

    form.addEventListener('submit', handleContinueSubmit);
    // paymentBtn.addEventListener('click', handlePaymentSubmit);

</script>
{% endblock content %}